.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #343a40;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #495057;
}

.footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}